<h2>Pet</h2>

<form class="pet-form" ng-submit="$ctrl.submit()">
    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Owner</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{{$ctrl.pet.owner}}</p>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="$ctrl.pet.name" name="name" required type="text"/>
            <span ng-show="petForm.name.$error.required" class="help-inline">Name is required.</span>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Birth date</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="$ctrl.pet.birthDate" required type="date"/>
            <span ng-show="petForm.name.$error.required" class="help-inline">Birth date is required.</span>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-6">
            <select class="form-control" ng-model="$ctrl.petTypeId">
                <option ng-repeat="t in $ctrl.types track by t.id" value="{{t.id}}">{{t.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-sm-6 offset-sm-2">
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>
